.AddCosts {
  &__Input {
    margin-bottom: 20px;
  }

  &__Label {
    font-weight: 600;
  }
}

.actions {
  position: fixed;
  z-index: 2;
  width: fit-content;
  height: 50%;
  top: 50%;
  right: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}

.divideIcon {
  transform: rotate(135deg);
}